{
	"semi": false,
	"singleQuote": true,
	"printWidth": 1000,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": [".prettierrc", ".babelrc", ".eslintrc"],
			"options": {
				"parser": "json"
			}
		}
	]
}
